<div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" id="header-wrapper"
  data-ms-theme="fashion">
  {{#if flash.enabled}}
  {{> components/flash}}
  {{/if}}
  {{> components/cookieDisclaimer}}
  <header role="banner" class="nav-fashion-header" style="background: rgba({{headerTransparent}})"
    itemtype="http://schema.org/Store" itemid="#this" itemscope="">

    <!-- Desktop menu sidebar -->
    <div itemscope itemtype="http://schema.org/SiteNavigationElement"
      class="nav-fashion-menu nav-fashion-sidebar-menu header--custom-background" id="nav-vertical-list">
      <div class="close-sidebar-button">
        <input type="checkbox" id="nav-fashion__close-sidebar-button" name="nav-tools-header__menu-switch">
        <label for="nav-fashion__close-sidebar-button" id="close-sidebar-button">
          <span class="nav-header__close-sidebar-button nav-header__hamburger"></span>
          <span class="nav-header__close-sidebar-button nav-header__hamburger"></span>
        </label>
      </div>

       <ul class="sidebar-menu-list">
          {{!-- {{#if sale}}
          <li class="nav-fashion-list--vertical__item nav-fashion__sale-link header--custom-border">
            <a href="{{sale.url}}" class="header--custom-text">{{sale.text}}</a>
          </li>
          <li class="nav-fashion-list__item nav-fashion__hamburger-button" id="nav-fashion__hamburger-button"></li>
          {{/if}} --}}

          {{!-- CATEGORIAS --}}
          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/_DisplayType_G_Discount_2-100" class="descuento">Descuentos<span>%</span></a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/" class="">Inicio</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a class="categorias_menu">Categorias</a><i class="fi fi-rr-angle-small-down categorias-flecha"></i>
            </li>
            <div class="categorias_sub invisible">
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-fitness" class="">Linea Fitness</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-masculina" class="">Linea Masculina</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-belleza" class="">Linea Belleza</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-wellness" class="">Linea Wellness</a>
              </li>
            </div>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/todos-los-productos" class="">Productos</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a class="nosotros_menu">Sobre Nosotros</a><i class="fi fi-rr-angle-small-down nosotros-flecha"></i>
            </li>
            <div class="nosotros_sub invisible">
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/quienes-somos" class="">Quienes Somos</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/responsabilidad" class="">Responsabilidad Social</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/beneficios" class="">Beneficios Para Ti</a>
              </li>
            </div>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/p/como-comprar" class="">Preguntas Frecuentes</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/p/contacto" class="">Contacto</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>
        </ul>

    </div>

    <div class="nav-fashion-header__bounds">
      <!-- Desktop menu navbar categories -->
      <ul itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-fashion-list" id="nav-list">
        <li class="nav-fashion-list__item nav-fashion__hamburger-button" id="nav-fashion__hamburger-button">
          <input type="checkbox" id="mobile-categories-menu-switch" name="nav-tools-header__menu-switch">
          <label for="mobile-categories-menu-switch" id="hamburguer-menu">
            <span class="nav-header__hamburger"></span>
            <span class="nav-header__hamburger"></span>
            <span class="nav-header__hamburger"></span>
          </label>
        </li>

        {{#each menu}}
        <li class="nav-fashion-list__item" data-js="{{this.name}}-{{@index}}" has-childs={{this.nodes}}>
          <a href="{{this.url}}">
            <span class="header--custom-text">{{this.name}}</span>
          </a>
        </li>
        {{/each}}

        {{!-- {{#if sale.text}}
        <li class="nav-fashion-list__item nav-fashion__sale-link" id="nav-fashion__sale-link">
          <a href="{{sale.url}}" class="header--custom-text">{{sale.text}}</a>
        </li>
        {{/if}} --}}

        <li class="nav-fashion-list__item nav-fashion__see-more" id="nav-fashion__see-more" has-childs="true">
          <a class="header--custom-text">
            <span>{{i18n.moreCategories}}</span>
          </a>
        </li>
      </ul>

      <!-- Mobile responsive menu -->
      <div itemscope itemtype="http://schema.org/SiteNavigationElement"
        class="nav-fashion-menu nav-fashion-responsive-menu header--custom-background" id="responsive-menu">
        <form class="nav-fashion-search-form header--custom-border" id="search-form-responsive" novalidate="">
          <button type="submit" class="search-button">
            {{> fashion/views/partials/search}}
          </button>
          <input type="text" placeholder="{{i18n.smallPlaceholder}}" class="header--custom-text"
            id="search-input-responsive" required="" autocomplete=" off">
        </form>

        <ul class="sidebar-menu-list">
          {{!-- CATEGORIAS --}}
          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/_DisplayType_G_Discount_2-100" class="descuento">Descuentos<span>%</span></a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/" class="">Inicio</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a class="categorias_menu-mobile">Categorias</a><i
                class="fi fi-rr-angle-small-down categorias-flecha-mobile"></i>
            </li>
            <div class="categorias_sub-mobile invisible">
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-fitness" class="">Linea Fitness</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-masculina" class="">Linea Masculina</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-belleza" class="">Linea Belleza</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/linea-wellness" class="">Linea Wellness</a>
              </li>
            </div>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/todos-los-productos" class="">Productos</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a class="nosotros_menu-mobile">Sobre Nosotros</a>
              <i class="fi fi-rr-angle-small-down nosotros-flecha-mobile"></i>
            </li>
            <div class="nosotros_sub-mobile invisible">
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/quienes-somos" class="">Quienes Somos</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/responsabilidad" class="">Responsabilidad Social</a>
              </li>
              <li class="nav-fashion-list--vertical__subitem">
                <a href="/beneficios" class="">Beneficios Para Ti</a>
              </li>
            </div>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/p/como-comprar" class="">Preguntas Frecuentes</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>

          <div>
            <li class="nav-fashion-list--vertical__item">
              <a href="/p/contacto" class="">Contacto</a>
            </li>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </div>
        </ul>
      </div>

      <!-- Logo -->
      <h1 class="nav-fashion-header__title">
        <a class="nav-fashion-header__logo" href="/" id="logo-wrapper">
          <span class="nav-header__title-hidden">{{shop.name}}</span>
          <img class="nav-header__image" src="https://iili.io/VA98mv.png" alt="{{shop.name}}" itemprop="logo" />
        </a>
      </h1>

      <!-- Icons -->
      <nav class="nav-fashion-header__nav-icons" id="nav-fashion-header__nav-icons">
        <div class="nav-icons-group">
          <form class="nav-search-form" id="search-form" novalidate="">
            <input type="text" class="nav-search-input header--custom-border header--custom-text"
              placeholder="{{i18n.smallPlaceholder}}" id="search-input" required="" autocomplete=" off">
            <button type="submit" class="search-button" id="nav-search-button">
              {{> fashion/views/partials/search}}
            </button>
          </form>
          {{#if contact}}
          <a href="{{contact.href}}" class="contact-button" rel="nofollow">
            {{> fashion/views/partials/contact}}
          </a>
          {{/if}}
          {{#if cart}}
          <a href="{{cart.href}}" title="Carrito" class="cart-button" id="nav-cart">
            {{> fashion/views/partials/cart-badge}}
            {{> fashion/views/partials/cart}}
          </a>
          {{/if}}
        </div>
      </nav>
    </div>

    <!-- Desktop menu popover -->
    <div itemscope itemtype="http://schema.org/SiteNavigationElement" id="popover-menu"
      class="header--custom-background">
      <!-- Categories -->
      <div class="nav-bounds nav-fashion-desktop-categories-popover">
        {{#each menu}}
        <div class="nav-fashion-list--horizontal__item" data-toggle="{{this.name}}-{{@index}}">
          <li class="nav-fashion-list--horizontal__category header--custom-text">
            <a href="{{this.url}}">{{this.name}}</a>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </li>
          {{#each this.nodes}}
          <div class="nav-fashion-list--horizontal__subitem">
            <li class="header--custom-text">
              <a href="{{this.url}}">{{this.name}}</a>
            </li>
            <div class="nav-fashion-list--horizontal__attr-container">
              {{#each this.nodes}}
              <li class="nav-fashion-list--horizontal__attribute header--custom-text">
                <a href="{{this.url}}">{{this.name}}</a>
              </li>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
        {{/each}}
      </div>
      <!-- See more -->
      <div class="nav-bounds nav-fashion-desktop-see-more-popover" id="nav-popover-list">
        {{#each menu}}
        <div class="nav-fashion-list--horizontal__item" data-toggle="see-more">
          <li class="nav-fashion-list--horizontal__category header--custom-text">
            <a href="{{this.url}}">{{this.name}}</a>
            <hr class="nav-fashion-list--vertical__hr header--custom-border" />
          </li>
          <div>
            {{#each this.nodes}}
            <li class="nav-fashion-list--horizontal__subitem header--custom-text">
              <a href="{{this.url}}">{{this.name}}</a>
            </li>
            <div class="nav-fashion-list--horizontal__attr-container">
              {{#each this.nodes}}
              <li class="nav-fashion-list--horizontal__attribute header--custom-text">
                <a href="{{this.url}}">{{this.name}}</a>
              </li>
              {{/each}}
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </header>
</div>